@page
@model C_ManagementSystem.Pages.Forms.AddCustomerModel
@using (Html.BeginForm("Calc","Home",FormMethod.Post)) {
    ViewData["Title"] = "Add Customer";
}

<h1>Add New Customer</h1>
<form method="post">
	<div class="form-group col-md-8">
		<input type="number" disabled asp-for="CustomerContact.customerID" placeholder="00000" />
		<input type="text" asp-for="CustomerContact.firstName" placeholder="First Name" />
		<input type="text" asp-for="CustomerContact.lastName" placeholder="Last Name" />
		<input type="tel" asp-for="CustomerContact.phoneNumber" placeholder="Phone Number" />
		<input type="email" asp-for="CustomerContact.emailAddress" placeholder="Email Address" />
		<input type="date" asp-for="CustomerContact.dateRegistered" placeholder="Date" />
		<br />
		<button type="submit">Submit</button>
		<button type="reset">Reset</button>
	</div>
</form>

<h1>Repair Jobs</h1>
<form method="post" >
	<div class="form-group col-lg-7">
		<label for="JobID">Job ID</label>
		<input type="number" id="JobID" value="JobID" disabled asp-for="CustomerJob.JobID" placeholder="1" />

		<label for="CusID">Customer ID</label>
		<input type="number" id="CusID" value="CusID" disabled asp-for="CustomerJob.CustomerID" placeholder="00000" />

		<label for="JobDesc">Job Description </label>
		<input type="text" id="JobDesc" asp-for="CustomerJob.JobDesc" placeholder="Job Description" />

		<label for="JobDate">Date of Order </label>
		<input type="date" id="JobDate" asp-for="CustomerJob.JobDate" placeholder="Date" />

		<label for="FrameDesc">Description of Frame</label>
		<input type="text" id="FrameDesc" asp-for="CustomerJob.FrameDesc" placeholder="Enter Breif Description" />

		<label for="LensDesc">Description of Lenses </label>
		<input type="text" id="LensDesc" asp-for="CustomerJob.LensDesc" placeholder="Enter Breif Description" />

		<label for="Subtotal">Subtotal: </label>
		<input type="number" id="Subtotal" asp-for="CustomerJob.Subtotal" placeholder="$0.00" />

		<label for="Discount">Discounts</label>
		<input type="number" id="Discount" asp-for="CustomerJob.Discount" placeholder="$0.00" />

		<label for="Total">Total Cost </label>
		<input  asp-for="CustomerJob.Total" value=""></input>
		
		<input type="checkbox" asp-for="CustomerJob.Tax" placeholder="Tax" /> <label>Tax</label>
		<br />
		<button type="submit">Submit</button>
		<button type="reset">Reset</button>
	</div>
</form>

<h1>New Frame and Lenses</h1>
<form method="post">
	<div class="form-group col-md-8">
		<label for="LensDesc">Lens Description</label>
		<input id="LensDesc" asp-for="CustomerJob.LensDesc" placeholder="Enter Breif Description" />

		<label for="FrameDesc">Frames Description</label>
		<input id="FrameDesc" asp-for="CustomerJob.FrameDesc" placeholder="Enter Breif Description" />

		<label for="LensCost">Lens Cost</label>
		<input id="LensCost" asp-for="FrameLenses.LensCost" placeholder="$0.00" />

		<label for="FrameCost">Frames Cost</label>
		<input id="FrameCost" asp-for="FrameLenses.FrameCost" placeholder="$0.00" />
	</div>
</form>