@page
@model C_ManagementSystem.Pages.Forms.AddCustomerModel

@{ 
    ViewData["Title"] = "Add Customer";
}


    <h1>Add New Customer</h1>
    <form method="post" asp-action="NewCustomers">
        <div class="form-group col-md-8">
            <input type="number" disabled asp-for="CustomerContact.CustomerID" placeholder="00000" />
            <input type="text" asp-for="CustomerContact.CompanyName" placeholder="Company Name" />
            <input type="text" asp-for="CustomerContact.FirstName" placeholder="First Name" />
            <input type="text" asp-for="CustomerContact.LastName" placeholder="Last Name" />
            <input type="tel" asp-for="CustomerContact.PhoneNumber" placeholder="Phone Number" />
            <input type="email" asp-for="CustomerContact.EmailAddress" placeholder="Email Address" />
            <input type="date" asp-for="CustomerContact.DateRegistered" placeholder="Date" />

            <br />
            <button name="newCsub" type="submit">Submit</button>
            <button type="reset">Reset</button>
        </div>
    </form>

