@page
@model C_ManagementSystem.Pages.Forms.AddJobsModel
@{
    ViewData["Title"] = "Add Jobs";
}

<h1>Repair Jobs</h1>

<div class="row">
	<form method="post" asp-action="NewJob">
        <div class="form-group col-md-auto">
            Job ID:
            <input type="number" id="JobID" value="JobID" disabled asp-for="CustomerJob.JobID" placeholder="1" /><br />

            Customer ID:
            <input type="number" id="CusID" value="CusID" disabled asp-for="cm.CustomerID" placeholder="00000" /><br />

            Frame Description:
            <input type="text" id="FrameDesc" asp-for="CustomerJob.FrameDesc" value=" " placeholder="Frame Description" /><br />

            Job Description:
            <input type="text" id="JobDesc" asp-for="CustomerJob.JobDesc" value=" " placeholder="Job Description" /><br />

            Lab Location:
            <input type="text" id="Lab" asp-for="CustomerJob.Lab" value=" " placeholder="Which Lab?" /><br />

            Subtotal:
            <input type="number" id="SubTotal" asp-for="CustomerJob.Subtotal" value="$ " /><br />

            Discount:
            <input type="number" id="Discount" asp-for="CustomerJob.Discount" value="$ " /><br />

            Apply NYS Tax?:
            <input type="checkbox" id="Discount" asp-for="CustomerJob.NYSTax" /><br />

            
                <!-- <p>Remaining Balance: @Html.Display("CustomerJob.Total")</p> @Html.Display("CustomerJob.JobDesc") -->

                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
        </div>
	</form>
</div>